.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.markdown-style {

  @apply text-black;

  h4 {
    @apply text-lg font-bold;
    &:not(:first-child)  { @apply mt-4;}
  }

  h3 {
    @apply text-xl font-bold;
    &:not(:first-child)  { @apply mt-6;}
  }

  h1 {
    @apply text-3xl font-bold;
    &:not(:first-child) { @apply mt-8;}
  }

  h2 {
    @apply text-2xl font-bold;
    &:not(:first-child) { @apply mt-6;}
  }

  p, li {
    @apply text-lg font-normal;
  }

  hr {
    @apply my-3 border-t border-gray-500 border-2;
  }

  strong {
    @apply font-bold;
  }

  code {
    @apply bg-gray-100 px-1 rounded border-2 border-gray-300;
  }

  ul {

    @apply list-disc list-inside ml-2;
    list-style-type: disc;

    ul {
      @apply ml-8;
      list-style-type: circle;
    }

  }

}