---
import Header from './Header.astro';
import { ClientRouter } from 'astro:transitions';
import { VARS } from "@/styles/vars";
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Minecraft Server List</title>
		<ClientRouter/>
	</head>
	<body class="font-[prompt]">
		<Header/>
		<div class="bg-gray-200 px-8 py-4 flex flex-col items-center min-h-full">

			<div class="w-full" style={{maxWidth: `${(VARS.cardGap + VARS.serverCardMinWidth) * 4}px`}}>
				<slot/>
			</div>

		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
